.DS_Store
.Trashes
.AppleDouble
.LSOverride

xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcworkspace
DerivedData/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/

.build/
.swiftpm/
Package.resolved

Pods/
Podfile.lock
project.xcworkspace

Carthage/Build/
Carthage/Checkouts/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

*.xcarchive

timeline.xctimeline
playground.xcworkspace

.bundle/

*.simruntime

*.log
*.xcresult

*.tmp
*.swp
*~.nib
*.bak

*.o
*.pyc
*.class
*.jar
*.dll
*.so
*.dylib
*.exe

.env
.vscode/
*.code-snippets
